- title 'Trips'

- @trips.each do |trip|
  .trip
    = trip.description
    %br
    =l trip.completed_at, :format => :long
    %br
    = "Countries: #{countries trip}"
    %br

= link_to "New Trip", new_trip_path
