- country_trips.each_slice(country_trips.size / 2) do |collection|
  %ul.country_list
    = form.fields_for :country_trips, collection do |fields|
      %li
        = fields.check_box :country_id, { :checked => false }, fields.object.country_id, ''
        = fields.label :country_id, fields.object.country.name
