- countries.each_slice(countries.size / 2) do |array|
  %ul.country_list
    - array.each do |country|
      %li
        = country_check_box_tag country, country_ids
        = label_tag dom_id(country), country.name
