- if user_signed_in?
  .description= currency_description

%table
  %tr
    %th Currency
    %th Available countries
    - if user_signed_in?
      %th Not visited countries
  %tr
    - currencies.each do |currency|
      %tr
        %td= currency.name
        %td= countries_link currency.name, currency.available_country_count.to_i
        - if user_signed_in?
          %td= countries_link currency.name, currency.remaining_country_count.to_i
