- title "Currencies"

%table
  %tr
    %th Currency
    %th Code
  %tr
    - for currency in @currencies
      %tr
        %td= link_to currency.name, edit_currency_country_list_path(currency.code)
        %td= currency.code
