body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 25px 40px;
  border: solid 1px black;
  margin-top: 45px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

table tbody tr td, table tbody tr th {
  padding-right: 1em;
}

form ul.countries {
    padding-left: 1em;
    list-style-type: none;
}

form .buttons {
    margin-top: 1.5em;
}

form .buttons a {
    margin-right: 0.5em;
}

.description {
    margin-bottom: 1.5em;
    color: #333;
}

a.dashed {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed;
}

#trips {
    padding-top: 1em;
}

#trips .trip {
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: #eee solid 1px;
}

#trips .trip:last-child {
    border-bottom: none;
}

#trips .trip h4 {
    margin-bottom: 0.5em;
}

#trips .trip .date {
    text-align: right;
    color: #666;
}

ul.country_list {
    display: inline-block;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}

#navigation {
    margin-top: -3.5em;
    margin-bottom: 2em;
}

#navigation a {
    text-decoration: none;
    margin-right: 0.5em;
    color: #6C6;
    font-weight: bold;
    font-size: 1.2em;
}

#navigation a.active {
    color: white;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation .login_menu {
    display: inline-block;
    float: right;
    color: white;
}

#navigation .login_menu a {
    margin-left: 0.5em;
}